# sudo config-pin -f ./pocketpilot_pin.cfg

# LED A
P2_2 gpio

# LED B
P2_4 gpio

# LED C
P2_6 gpio

# SAFETY
P2_8 gpio

# Buzzer (digital out)
P2_1 gpio

# Serial 0 RX
P1_32 uart
# Serial 0 TX
P1_30 uart

# Serial 2 RX
P1_8 uart
# Serial 2 TX
P1_10 uart

# Serial 4 RX
P2_5 uart
# Serial 4 TX
P2_7 uart

# CAN1
P2_9 can 
# CAN2
P2_11 can

# I2C_2_SDA
P1_26 i2c
# I2C_2_SCL
P1_28 i2c

# SPI1
P2_25 spi
P2_27 spi
P2_29 spi_sclk
P2_30 spi_cs
P2_31 spi_cs

# RCIN
P2_18 pru_ecap

# RCOUT
P1_29 pruout
P1_31 pruout
P1_33 pruout
P2_34 pruout
P2_32 pruout
P2_28 pruout
